{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1570498839593-e565b39455fc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGZvb3RiYWxsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hii, It's me Ahsan here, A Computer Science Student. Persuing B.TECH From Integral University, Lucknow. I started to learn code when i was 18 year old because i wanted to make my own websites & web apps.</p>
        <p>Due to keen interest in coding i gained wealth of experience of designing and development through a lot of different online courses, All thanks to the instructors. So yeah, I'm web designer and developer now. </p>
        <p>I decided to create a blog website and found the theme as well, So here it is browse the website and leave a feedback message for me in the contact form.</p>
        <p><b>You love soccer? If you love soccer as much as i do.</b> Let's make a plan to play soccer in our free time!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}